<div class="toolbar">
	<h1 id="pageTitle">
    Unknown Location
	</h1>
</div>

<div class="panel" selected="true">
<ul>
<li><%=link_to "Unable to determine your location. Please wait and try again",:action=>:index%></li>
</ul>
</div>
  